<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello, SD Ruby!!!!</h1>
    <p class="lead">The Syntactical Astronaut has been talking to the community.</p>
    <ul>
      <% @topics.each do |topic| %>
        <li>
        <%= link_to topic.title, strap_path(topic) %>
        </li>
      <% end %>
    </ul>
    </div>
</div>